/* color start */
$font-color: #333;
$font-color1: #606266;
$font-color2: #e3101e;
$font-color3: #fff;
$font-color4: #409eff;
$font-color5: #909399;
$font-color6: #67c23a;
$font-color7: #f56c6c;
$font-color-hover: #66b1ff;
$border-color: #eaeefb;
$background-color: #eef7ff;
$background-color1: #f56c6c;
$background-color2: #fff;
$background-color3: #f2f5fc;
$background-color4: #67c23a;
$background-color5: #ebeef5;
$background-color6: #f9f9f9;
$background-color7: #fafafa;
/* color end */

/* font start */
$font-family: 'Microsoft YaHei';
$font-family1: 'Arial';
/* font end */