.error403{
    width: 300px;
    height: 127px;
    margin: 15% auto 0;
    background: url(/static/images/403.jpg) no-repeat;
}
.error404{
    width: 271px;
    height: 135px;
    margin: 15% auto 0;
    background: url(/static/images/404.jpg) no-repeat;
}
.error500{
    width: 260px;
    height: 210px;
    margin: 15% auto 0;
    background: url(/static/images/500.jpg) no-repeat;
}
.error-prompt{
    font-size: 16px;
    color: #555;
    margin: 40px 0 15px 0;
}
