/*  
use: ace样式覆盖
author: wanghonglan
time: 2018.1.17
*/

.ml10 {
    margin-left: 10px;
}

.pr0 {
    padding-right: 0;
}

.w160 {
    width: 160px;
}

.mb16 {
    margin-bottom: 16px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb0 {
    margin-bottom: 0px;
}

.mr12 {
    margin-right: 12px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.margin-top20 {
    margin-top: 20px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.el-main {
    padding: 0 20px 24px;
}

.dataTable {
    margin-bottom: 20px;
}

.table>tbody+tbody {
    border-top: none;
}

.n-radio,
.n-checkbox {
    margin-top: 7px;
}

.n-radio input[type=radio],
.n-checkbox input[type=checkbox] {
    margin-top: 0;
    margin-right: 2px;
}

.bottom-desc {
    display: block;
    margin-top: 5px;
    line-height: 14px;
    font-size: 12px;
    color: #ccc;
}

.bgf {
    background: #fff!important;
}

.no-search {
    height: 223px;
    background: url(/static/images/noSearch.jpg) no-repeat center 50px;
    padding-top: 155px!important;
    font-size: 14px!important;
    color: #999!important;
}

.mr10 {
    margin-right: 10px;
}

.btn-gray,
.btn-gray.focus:hover,
.btn-gray:active:hover,
.btn-gray:focus:active,
.btn-gray:focus:hover,
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active {
    background: #ddd!important;
    color: #333!important;
}

.btn-green,
.btn-green.focus:hover,
.btn-green:active:hover,
.btn-green:focus:active,
.btn-green:focus:hover,
.btn-green:active {
    line-height: 1;
    background: #6ebf50!important;
    border-radius: 4px;
}
.el-btn.ml10{
    margin-left: 10px;
}

.mod-search.search-mg {
    position: relative;
    margin: 5px 10px;
}

.mod-search.search-mg input {
    width: 100%;
    height: 27px;
    line-height: 27px;
}


/* 公用组件usergroup*/

.form-control {
    min-height: 30px;
    height: auto;
}


/* 图表上数据样式 */

.cdata-list {
    padding: 20px 0;
    border: 1px solid #ccc;
}

.cdata-tit {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
}

.cdata-table .cdata-item {
    position: relative;
    text-align: center;
}

.cdata-item:not(:last-child):after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
    width: 1px;
    height: 40px;
    background: #ddd;
}

.cdata-item .c-count {
    display: block;
    color: #555;
}

.cdata-item .c-num {
    display: block;
    margin-top: 12px;
    font-size: 16px;
    color: #333;
}

.el-main .c-more,
.el-main .c-more.el-button {
    display: inline-block;
    padding: 0;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    color: #a5a5a5;
    border: 1px solid #a5a5a5;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.cdata-item .c-more:hover {
    color: #73a3d9;
    border-color: #73a3d9;
}

.mm-btn {
    display: inline-block;
    cursor: pointer;
}


/* 图表区域样式 */

.chart-wrapper {
    width: 100%;
    overflow: hidden;
}

.chart-wrapper li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 20px;
    width: 50%;
    height: 500px;
}

.chart-wrapper li.pr10 {
    float: left;
    padding-right: 10px;
}

.chart-wrapper li.pl10 {
    float: left;
    padding-left: 10px;
}

.chart-area {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
}

.chart-wrapper .el-col {
    margin-top: 20px;
    overflow: hidden;
}


/* elementUI 样式覆盖 */
.widget-main .el-menu--horizontal .el-menu-item {
    height: 26px;
    line-height: normal;
    padding: 0 10px;
    margin-right: 10px;
}

.widget-main .el-input--suffix el-input--suffix {
    background: #fff;
}

.widget-main .el-form-item {
    margin-bottom: 15px;
}

.widget-main .el-form-item__label,
.widget-main .el-form-item__content {
    line-height: 30px;
}

.widget-main .el-form-item__error {
    color: #ff0027;
}

.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus,
.el-message-box__input input.invalid,
.el-message-box__input input.invalid:focus {
    border-color: #ff0027;
}

.widget-main .el-input__inner {
    height: 30px;
}

.widget-main .el-input--suffix .el-input__inner,
.widget-main .el-select>.el-input {
    width: 100%;
}

.el-select input[readonly][type=text] {
    text-align: left;
}

.el-main .el-select__input {
    background-color: transparent!important;
    border: none;
}

.mm-date-nolabel .el-form-item__content {
    margin-left: 10px!important;
}
.lr-wrapper .el-input__icon{ line-height:32px;}
.el-message-box__wrapper .el-message-box{ border:none;}
.el-message-box .el-message-box__header{ background:#4990e2;}
.el-message-box .el-message-box__title{ color:#fff; font-size:16px;}
.el-message-box .el-message-box__headerbtn .el-message-box__close{ color:#fff;}
.el-message-box .el-message-box__btns{ text-align:center;}
.el-message-box .el-button--default{ border:1px solid #409EFF;}


/* messagebox warning改成蓝色问题图标 */
.el-main .el-message-box__status.el-icon-warning {
    color: #3a8ee6;
}

.el-main .el-message-box__status.el-icon-warning:before {
    content: "\E634";
}

.el-main .el-radio {
    line-height: 30px;
}

.el-main .el-button {
    padding: 8px 12px;
    width: auto;
}

.el-main .el-button.btn-primary,
.el-main .el-button.btn-gray,
.el-main .el-button.btn-green {
    border: none;
}

.el-message.el-message--info {
    top: 70px;
}

.el-main .el-input__inner,
.el-main .el-input__inner:focus,
.el-main .textarea-box,
.el-main .textarea-box:focus{ color:#333;}
.el-main .el-form-item.is-success .el-input__inner,
.el-main .el-form-item.is-success .el-input__inner:focus,
.el-main .el-form-item.is-success .el-textarea__inner,
.el-main .el-form-item.is-success .el-textarea__inner:focus{ border-color: #ccc; color:#333;}

.el-main .el-form-item.is-required .el-form-item__label:before{ color:#ff0027;}
.el-main .red{ color:#ff0027!important;}

.el-message.el-message--info,
.el-message.el-message--warning,
.el-message.el-message--success,
.el-message.el-message--error{ background-color: #fff;}

.el-message.el-message--warning .el-message__content,
.el-message.el-message--success .el-message__content,
.el-message.el-message--error .el-message__content{ color:#909399;}

.el-message.el-message--info .el-icon-info{ font-size:20px; color: #4990e2}
.el-message.el-message--warning .el-icon-warning{ font-size:20px; color: #ff9549;}
.el-message.el-message--success .el-icon-success{ font-size:20px; color: #6ebf50;}
.el-message.el-message--error .el-icon-error{ font-size:20px; color: #ff0027;}

.el-main .el-form-item__label{ color: #333;}

.el-message{ border:1px solid #ccc; box-shadow: 0 2px 10px rgba(50,50,50,.5)}


.el-select-dropdown__wrap.el-scrollbar__wrap
    scrollbar-3dlight-color:#fff; // 3d亮色阴影边框(threedlightshadow)的外观颜色
    scrollbar-highlight-color:#fff; // 滚动条3d高亮边框(threedhighlight)的外观颜色
    scrollbar-arrow-color:#fff; // 滚动条方向箭头的颜色
    scrollbar-shadow-color:#fff; // 滚动条方向箭头的颜色
    scrollbar-darkshadow-color:#fff; // 滚动条3d暗色阴影边框(threeddarkshadow)的外观颜色
    scrollbar-base-color:#fff; // 滚动条基准颜色
    scrollbar-track-color:#fff; // 滚动条拖动区域的外观颜色

/*定义滚动条轨道 内阴影+圆角*/  
.el-scrollbar__bar::-webkit-scrollbar-track  
    -webkit-box-shadow: inset 0 0 0 rgba(255,255,255,0)
    border-radius: 0
    background-color: rgba(255,255,255,0) 
  
/*定义滑块 内阴影+圆角*/  
.el-scrollbar__bar::-webkit-scrollbar-thumb  
    border-radius: 0
    -webkit-box-shadow: inset 0 0 0 rgba(255,255,255,0)
    background-color: rgba(255,255,255,0)
.el-scrollbar__bar::-webkit-input-placeholder
    color: #d3d3d3
.el-scrollbar__bar::-webkit-scrollbar
.el-select-dropdown__wrap.el-scrollbar__wrap::-webkit-scrollbar
    width: 0
    height: auto
    background-color: rgba(255,255,255,0)
