.el-message-box {
  border: none;
}
.el-upload__input{
  display: none!important;
}
.el-message-box__header {
  background: #4990e2;
  height: 40px;
}
.el-message-box__headerbtn .el-message-box__close {
  color: #fff;
}
.user .el-button--text {
  padding: 0 15px;
  height: 30px;
}
.user .el-dialog__header,.user .el-message-box__header{
  background: #4990e2;
  height: 40px;
  padding: 0px 0 0 15px;
  line-height: 40px;
}
.user .el-dialog__title,.el-message-box__title{
  color: #fff;
  font-size: 16px;
}
.user .el-dialog__headerbtn{
  top: 2px;
}
.user .el-dialog__headerbtn .el-dialog__close{
  color: #fff;
}
.user .dialog-footer{
  text-align:center;
}
.user .el-pagination{
  float: right;
}
.result i{
  color: #e3101e;
}
.up-input{
  width: 60%;
}
.up-button{
  display: inline-block!important;
}
.none{
  display: none!important;
}
.add-file{
  position: relative;
}